* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* .home-body {
  
} */


.tohome {
  position: absolute;
  color: black;
}

.home,
.websites,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutMe{
  margin: 5em 24em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 5em;
  width: 50%;
}

.aboutMe h3{
  text-align: center;
}

.home-picture{
  display: flex;
  flex-flow: row;
  margin-top: 50px;
  margin-left:  300px; 
  
}

.parent-contact{
  text-align: center;
}

.profile-picture {
  width: 75%;
  border-radius: 60px;
}


h2{
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 10px;

}

h4 {
  font-size: 1em;
  text-align: right;
  position: relative;
  bottom: -7em;
  left: -22em;
}

.contact {
  background-image: url('../src/media/network.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


 .contact-form{
   
   padding: 75px;
   display: flex;
   flex-direction: column;
   text-align: left;

 }

 .contact-button {
   width: 30%;
   padding: 1em;
   /* margin: 3em; */
   margin-left: 35em;
   margin-top: 3em;
 }
.menu-sort {
  padding: 10px;
}


 .custom-select .select-custom{
  display:none
  }

  .custom-select:hover .select-custom{
    display:block;
    list-style-type:none;
    padding: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

 .custom-select{
   padding: 1em;
  padding-left: 55em;
   display: flex;
 }

 


